.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0.75em;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.infoCard {
  min-width: 32%;
  max-width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2.5em;
  border-radius: 12px;
  flex: 1;
  cursor: auto;
}

.infoCardHalf {
  min-width: 35%;
  max-width: 49%;
}

.infoCard > h3 {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
}

.infoCard > p {
  font-size: 1em;
  font-weight: 400;
}
.infoCard > span {
  width: 100%;
  color: rgba(21, 21, 21, 0.8);
  font-size: 1em;
  font-weight: 400;
}
.infoCard > ul {
  width: 100%;
  list-style-type: disc;
  padding-left: 1em;
  color: rgba(21, 21, 21, 0.8);
  font-size: 1em;
  font-weight: 400;
}

/* .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
  max-width: 1440px;

  flex-wrap: wrap;
}

.infoCard {
  max-width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2.5em;
  border-radius: 12px;
}

.infoCard > h3 {
  width: 100%;
  font-size: 2em;
  font-weight: 600;
}

.infoCard > p {
  font-size: 1em;
  font-weight: 200;
} */

.infoCardDigitalType {
  min-width: 32%;
  max-width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2.5em;
  border-radius: 12px;
  flex: 1;
}

.infoCardDigitalLongType {
  min-width: 35%;
  max-width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2.5em;
  border-radius: 12px;
  flex: 1;
}

.infoCardDigitalType > p {
  font-size: 1em;
  font-weight: 400;
}
.infoCardDigitalLongType > p {
  font-size: 1em;
  font-weight: 400;
}
.infoCardDigitalType > span {
  width: 100%;
  color: rgba(21, 21, 21, 0.8);
  font-size: 1em;
  font-weight: 400;
}
.infoCardDigitalLongType > span {
  width: 100%;
  color: rgba(21, 21, 21, 0.8);
  font-size: 1em;
  font-weight: 400;
}
.infoCardDigitalType > ul {
  width: 100%;
  list-style-type: disc;
  padding-left: 1em;
  color: rgba(21, 21, 21, 0.8);
  font-size: 1em;
  font-weight: 400;
}

.infoCardDigitalTypeTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.infoCardDigitalTypeTitle > h3 {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  /* max-width: 80%; */
  display: flex;
  align-items: center;
  font-family: "Satoshi", sans-serif;
}

.linkCard {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition:
    background-color 0.24s,
    color 0.24s;

  color: #fff;
}

.linkCard > h3,
.linkCard > p,
.linkCard > span {
  color: #fff;
  cursor: pointer;
  transition: color 0.24s;
}
.linkCard .infoCardDigitalTypeTitle > h3 {
  cursor: pointer;
}

/* .linkCard svg {
  color: red;
} */

.linkCard:hover {
  background-color: #ffffff;
  color: #151515;
}

.linkCard:hover svg {
  color: #151515;
}

.linkCard:hover > h3,
.linkCard:hover > p,
.linkCard:hover > span {
  color: #151515;
}

.arrowBlock {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transition: transform 0.5s ease-in-out;
}

.linkCard:hover .arrowBlock {
  /* transform: translateX(calc(100% - 2em)); */
  transform: translateX(1em);
}

.arrow {
  color: #fff;
  transition: color 0.24s ease-in-out;
}

.linkCard:hover .arrow {
  /* color: #000; */
  transition: color 0.24s ease;
}

.linkCard:hover .infoCardDigitalTypeTitle svg {
  fill: #151515;
}

.linkCard:hover .infoCardDigitalTypeTitle img {
  filter: brightness(0) saturate(100%) invert(9%) sepia(11%) saturate(0%)
    hue-rotate(18deg) brightness(95%) contrast(85%);
}
