.header {
  display: flex;
  width: 100%;
  /* max-width: 1440px; */
  /* padding: 0 7.5em; */
  margin: 0 auto;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
}

.HeaderLogo {
  width: 100%;
  max-width: 11em;
  display: flex;
}
.HeaderAction {
  display: flex;
  align-items: center;
  margin: 0 1.6em;
  gap: 2em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0 7.5em;

  margin: 0 auto;
  /* padding: 1em 0; */

  z-index: 10;
}

.navItem {
  font-size: 2em;
  font-weight: 700;
  color: #ccc;
}

.headerButton {
  background: #151515;
  cursor: pointer;
}

.headerButton > span {
  cursor: pointer;
  font-size: 0.8em;
}
