.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.CardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2.5em;
  cursor: pointer;
  transition: background-color 0.24s ease-in-out;
}

.CardItem:hover {
  background-color: #3c7bf6;
}

.CardItem p,
.CardItem .CardDescr h5 {
  transition: color 0.24s ease-in-out;
}

.CardItem:hover p {
  color: rgba(255, 255, 255, 0.6);
}

.CardItem:hover .CardDescr h5 {
  color: #fff;
}

.CardTile > p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1em;
  cursor: pointer;
}

.CardTile > h4 {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

.CardDescr {
  max-width: 40%;
  display: flex;
  align-items: center;
  text-align: right;
}

.CardDescr > h5 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.12em;
  cursor: pointer;
}

/* Dark theme styles */
.CardItemDark {
  background: rgba(21, 21, 21, 0.02);
}

.CardItemDark .CardTile > p,
.CardItemDark .CardTile > h4,
.CardItemDark .CardDescr > h5 {
  color: #151515;
}

.CardItemDark:hover .CardTile > p,
.CardItemDark:hover .CardTile > h4,
.CardItemDark:hover .CardDescr > h5 {
  color: #fff;
}
